USE [master]
GO
/****** Object:  Database [RichMondDB]    Script Date: 23/10/2022 21:47:29 ******/
CREATE DATABASE [RichMondDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RichMondDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\RichMondDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RichMondDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\RichMondDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RichMondDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RichMondDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 23/10/2022 21:47:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 23/10/2022 21:47:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Id] [uniqueidentifier] NOT NULL,
	[AccountStatus] [int] NOT NULL,
	[AddressBody] [varchar](50) NULL,
	[Aref] [varchar](50) NULL,
	[AuthorisedBank] [varchar](50) NULL,
	[AuthorisedCard] [varchar](50) NULL,
	[CampaignId] [uniqueidentifier] NOT NULL,
	[DateOfBirth] [datetime2](7) NOT NULL,
	[FirstName] [varchar](50) NULL,
	[GovernmentID] [uniqueidentifier] NOT NULL,
	[LenderId] [uniqueidentifier] NOT NULL,
	[MiddleName] [varchar](50) NULL,
	[MonthlyFee] [decimal](18, 2) NOT NULL,
	[OriginatorId] [uniqueidentifier] NOT NULL,
	[Postcode] [varchar](10) NULL,
	[RegularPaymentDay] [datetime2](7) NOT NULL,
	[State] [varchar](50) NULL,
	[Surname] [varchar](50) NULL,
	[Tel] [varchar](50) NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[ExpectedPaymentAmount] [decimal](18, 2) NOT NULL,
	[Contract] [varchar](50) NULL,
	[FirstPaymentDateUtc] [datetime2](7) NOT NULL,
	[DateCreated] [datetime2](7) NOT NULL,
	[DateUpdated] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 23/10/2022 21:47:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [uniqueidentifier] NOT NULL,
	[SetupFee] [decimal](18, 2) NOT NULL,
	[DateCreated] [datetime2](7) NOT NULL,
	[DateUpdated] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Account_ProductId]    Script Date: 23/10/2022 21:47:29 ******/
CREATE NONCLUSTERED INDEX [IX_Account_ProductId] ON [dbo].[Account]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Product_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Product_ProductId]
GO
USE [master]
GO
